@media (max-width: 1450px) {
	.img-list {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.container {
		width: 1000px;
		flex-wrap: wrap;
		padding-top: 130px;
		padding-bottom: 110px;
	}

	.container .c {
		margin: 0 10px 20px;
	}

	.container .c .desc {
		margin: 20px;
	}
}

@media (max-width: 746px) {
	.container {
		padding-top: 45px;
		padding-bottom: 44px;
	}

	.container .c {
		margin-bottom: 1px;
	}
}
